# Logs
logs/
*.log
pipeline.log

# dbt compiled artifacts
ph_food_pipeline/target/
ph_food_pipeline/dbt_packages/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Large data files
data/raw/wfp_food_prices_phl.csv
data/raw/psa_cpi_*.xlsx

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Airflow
airflow.db
airflow.cfg
.DS_Store
